@{
    ViewData["Title"] = "Reporting";
}

<h1>Reporting</h1>

<div class="list-group">
    <a asp-action="ProductReport" class="list-group-item list-group-item-action">Product Report</a>
    <a asp-action="SalesReport" class="list-group-item list-group-item-action">Sales Report</a>
    <a asp-action="ReturnReport" class="list-group-item list-group-item-action">Return Report</a>
</div>
