<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="mdi mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="SalesReport">
                <i class="mdi mdi-chart-line menu-icon"></i>
                <span class="menu-title">Sales Report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="VendorRatings">
                <i class="mdi mdi-star menu-icon"></i>
                <span class="menu-title">Vendor Ratings</span>
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Back to Main Site</span>
            </a>
        </li>
    </ul>
</nav>
