@{
    ViewData["Title"] = "Vendor Registration Confirmation";
}

<h2>Thank you for registering!</h2>
<p>
    Your application to become a vendor is currently under review. We will notify you by email once your application has been approved.
</p>
